<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Home</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/card.css' %}">
  <link rel="stylesheet" href="{% static 'css/flip.css' %}">
</head>
<body>
<div style="background-image:url('https://previews.123rf.com/images/monsitj/monsitj1709/monsitj170900008/85197303-3d-rendering-of-virtual-human-silhouette-on-technology-background-illustration-concept-of-online-edu.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;">
  <div class="header">
    <h1 style="color:deeppink; text-shadow: 2px 2px black;">Advanced Academy</h1>
  </div>
  <div id="navbar">
    <div class="navbar">
      <a class="active" href="http://127.0.0.1:8000/">Home</a>
      <a href="http://127.0.0.1:8000/about/">About Us</a>
      <div class="dropdown">
        <button class="dropbtn">Services
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="http://127.0.0.1:8000/software/">Software Development</a><br>
          <a href="http://127.0.0.1:8000/ai/" style="text-align:left;">Artificial Intelligence</a><br>
          <a href="http://127.0.0.1:8000/cloud/">Cloud Computing</a>
        </div>
      </div>
      <a href="http://127.0.0.1:8000/cont/">Contact</a>
    </div>
  </div>
</div>
<div style="background-image:url('https://previews.123rf.com/images/monsitj/monsitj1709/monsitj170900008/85197303-3d-rendering-of-virtual-human-silhouette-on-technology-background-illustration-concept-of-online-edu.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:100%100%;">
  <div class="content">
    <!--/ Jumbotron -->
    <div class="jumbotron" style="background:powderblue;opacity:0.9;filter:alpha(opacity=50);">
      <center>
        <br>
        <h2 style="color:navy;">Advanced Academy is a tremendously growing training Institute.</h2>
        <p style="text-align:justify;font-size:25px;">
          The top-notch solutions and training we offer are information technology,Infrastructure services.Our previous
          batch are invariably delighted with the kind of training we provide to them.The team would provide best support
          for you at the training period.
        </p>
        <a href="#">
			<img src="{% static 'image/task4.png' %}" width="250px" height="250px">
		</a>
	    <a href="#">
		    <img src="{% static 'image/task5.png' %}" width="250px" height="250px">
		</a>
		<a href="#">
			<img src="{% static 'image/task6.png' %}" width="250px" height="250px">
		</a>
      </center>
    </div>
<!--/ Jumbotron End -->
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="{% static 'image/task.png' %}" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h3>Software Development Course</h3>
                <a href="#"><input type="submit" style="width:100px;background-color:green;color:white;border-radius: 12px;" value="Read More"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="{% static 'image/task2.png' %}" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h3>Cloud Computing Course</h3>
                <a href="#"><input type="submit" style="width:100px;background-color:green;color:white;border-radius: 12px;" value="Read More"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="{% static 'image/task3.png' %}" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h3>Artificial Intelligence Course</h3>
                <a href="#"><input type="submit" style="width:100px;background-color:green;color:white;border-radius: 12px;" value="Read More"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron" style="background:white;width:100%;opacity:0.9;filter:alpha(opacity=50);">
      <center><br>
        <h2 style="color:navy;">WHY PEOPLE TRUST US.</h2>
      </center>
      <table>
        <tr>
          <th style="font-size:20px;"><b>Well Structured Courses</b></th>
          <th style="font-size:20px;"><b>Includes Practical Training</b></th>
          <th style="font-size:20px;"><b>Provide Wide Ranging Support</b></th>
        </tr>
        <tr>
          <td>
            <img src="{% static 'image/7.png' %}" alt="Avatar" style="margin-left:30px;width:50px;height:50px;">
            <p style="font-size:18px;">A top IT training institute offers well structured courses that are relevant to the IT industry.</p>
          </td>
          <td>
            <img src="{% static 'image/8.png' %}" alt="Avatar" style="width:50px;height:50px;margin-left:110px;">
            <p style="font-size:18px;margin-left:50px;">Our teaching methodology ,significant amount,classroom learning to help students understand background and gain solid area-specific knowledge.</p>
          </td>
          <td>
            <img src="{% static 'image/9.png' %}" alt="Avatar" style="width:50px;height:50px;margin-left:80px;">
            <p style="font-size:18px;margin-left:50px;">We offer 24/7 online learning facilities including online video content that the students can access anytime and from anywhere.</p>
          </td>
        </tr><br>
        <tr>
          <th style="font-size:20px;"><b>Reasonable Course Fee</b></th>
          <th style="font-size:20px;"><b>Learn With Industry Experts</b></th>
          <th style="font-size:20px;"><b>Provide Placement Assistance</b></th>
        </tr>
        <tr>
          <td><img src="{% static 'image/10.png' %}" alt="Avatar" style="width:50px;height:50px;margin-left:30px;">
            <p style="font-size:18px;margin-left:20px;">We provide reasonable course fee to help every aspiring professional enroll for the course.</p>
          </td>
          <td>
            <img src="{% static 'image/11.png' %}" alt="Avatar" style="width:50px;height:50px;margin-left:100px;">
            <p style="font-size:18px;margin-left:20px;">Give live exposure to the latest technologies of It training programs.</p>
          </td>
          <td>
            <img src="{% static 'image/12.png' %}" alt="Avatar" style="width:50px;height:50px;margin-left:70px;">
            <p style="font-size:18px;margin-left:20px;">Get 100% placement assistance.</p>
          </td>
        </tr>
      </table>
    </div>
    <center>
      <h3 style="color:hotpink;text-shadow: 2px 2px black;">Lab Facility</h3>
      <marquee scrollamount="15" direction="right">
          <img src="https://us.123rf.com/450wm/ismagilov/ismagilov1608/ismagilov160800109/60811634-computer-lab-interior-desktops-on-tables-green-board-posters-on-wall-concept-of-studying-in-modern-t.jpg?" width="250px;" height="250px;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGs1EVbB3fFnX7eLWWWUAZl_I9lmzqtIiCJw&usqp=CAU" width="250px;" height="250px;">
          <img src="https://cdnb.artstation.com/p/assets/images/images/005/580/207/large/monsour-leyco-2.jpg?1492148357" width="250px;" height="250px;">
          <img src="https://thumbs.dreamstime.com/b/student-working-computer-lab-portrait-beautiful-asian-36184003.jpg" width="250px;" height="250px;">
          <img src="https://nationalcollegealpy.com/media/90be5c6c-4b11-47c3-b422-7f92a760f202/Ww3EBw/Facilities/Lab.jpeg" width="250px;" height="250px;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUL5vSjaJkfFSU4Zsnrmul0XrbH1ci-B_iQA&usqp=CAU" width="250px;" height="250px;">
      </marquee>
    </center>

  </div>
  <div class="container" style="background-color:white;"><br>
    <a href="https://www.facebook.com"><input type="submit" style="width:100px;background-color:blue;color:white;border-radius: 12px;" value="Facebook"></a>
    <a href="https://www.google.com"><input type="submit" style="width:100px;background-color:orange;color:white;border-radius: 12px;" value="Google"></a>
    <a href="https://www.twitter.com"><input type="submit" style="width:100px;background-color:blue;color:white;border-radius: 12px;" value="Twitter"></a>
    <a href="https://www.instagram.com"><input type="submit" style="width:100px;background-color:deeppink;color:white;border-radius: 12px;" value="Instagram"></a>
    <br>
    <center>© Copyright 2021 All Rights Reserved</center>
    <br><br>
  </div>
</div>
</body>
</html>
