table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {

  text-align: justify;
  padding: 8px;
}
.custom {
padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 10px;
}
.box1{
float:left;
 font-size: 14px;
  padding: 0px;
      display: flex;
    flex-direction: row;

}